*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
    html {
      color-scheme: light;
    }
    body {
      color: black;
      background: white;
    }
  }
