.container {
  max-width: 1920px;
  margin: 0 auto;
}

.section {
  display: flex;
  margin: 0px;
}

.get {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ham {
  display: none;
}

.header {
  margin: 60px 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 194.51px;
  position: relative;
  height: 57px;
}
.header .nav {
  width: 763px;
}
.header .nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 72px;
}
.header .nav ul li {
  font-family: "Roboto Lt";
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  padding: 3px;
  color: black;
}
.header .langc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  display: flex;
  font-size: 32px;
  gap: 10px;
  line-height: 38px;
  color: #7161EF;
}
.header .langc .button {
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 32px 11px 37px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  background-color: #7161EF;
}
.header .langc .button .figure {
  width: 17px;
  height: 19px;
  position: relative;
  margin: 0px 10px 0px 0px;
}

.context {
  display: flex;
  flex-direction: column;
  margin: 22px 272px 100px 272px;
  justify-content: center;
  align-items: center;
}
.context .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #7161EF;
  width: 940px;
  text-align: center;
}
.context .subtext {
  padding: 32px 0px;
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  width: 1085px;
  text-align: center;
}
.context .links {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.context .links .figure {
  width: 240px;
  height: 82px;
  position: relative;
}

.ban {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 100px 0px;
}

.banner {
  position: relative;
  width: 1367.48px;
  height: 913.48px;
}

.platform {
  display: flex;
  flex-direction: column;
  margin: 22px 272px 100px 272px;
  justify-content: center;
  align-items: center;
}
.platform .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100px;
  text-align: center;
  color: #7161EF;
}
.platform .subtext {
  padding: 0px 0px 32px 0px;
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  width: 100%;
  text-align: center;
}
.platform .row {
  display: flex;
  gap: 18px;
}
.platform .row .card {
  display: flex;
  max-width: 335px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.platform .row .card .ils {
  width: 335px;
  height: 350px;
  background: #F7F5FF;
  position: relative;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.3);
  align-items: center;
}
.platform .row .card .ils .figure {
  position: absolute;
  width: 243px;
  bottom: 0;
  height: 238px;
}
.platform .row .card .subheading {
  padding: 29px 0px 0px 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  word-wrap: wrap;
  color: #7161EF;
  line-height: 55px;
  width: 316px;
}
.platform .row .card .description {
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  width: 312px;
  color: #263238;
}

.itworks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itworks .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100px;
  text-align: center;
  color: #7161EF;
}
.itworks .subtext {
  padding: 0px 0px 32px 0px;
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  width: 73%;
  text-align: center;
}
.itworks .section {
  display: flex;
  margin: 0px 272px;
  gap: 80px;
  justify-content: space-between;
}
.itworks .section .left {
  width: 48%;
}
.itworks .section .left .figure {
  position: relative;
  width: 564px;
  height: 846px;
}
.itworks .section .right {
  width: 48%;
  display: flex;
  margin: 100px 0px 0px 0px;
  flex-direction: column;
}
.itworks .section .right .figure {
  position: relative;
  width: 564px;
  height: 550px;
}

.wcare {
  display: flex;
  margin: 100px 272px;
  flex-direction: column;
  align-items: center;
}
.wcare .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100px;
  text-align: center;
  color: #7161EF;
}
.wcare .subtext {
  padding: 0px 0px 32px 0px;
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  width: 100%;
  text-align: center;
}
.wcare .row1 {
  margin: 70px 0px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.wcare .row1 .docbox {
  display: flex;
  flex-direction: column;
  background: #7161EF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  position: relative;
  width: 48%;
  height: 360px;
  padding: 115px 45px 65px 46px;
}
.wcare .row1 .docbox .circle {
  width: 138px;
  height: 138px;
  position: absolute;
  top: -70px;
  background-color: #F7F5FF;
  border-radius: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wcare .row1 .docbox .circle .figure {
  position: relative;
  width: 85px;
  height: 80px;
}
.wcare .row1 .docbox .h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  color: #FFFFFF;
}
.wcare .row1 .docbox .p {
  font-family: "Roboto Lt";
  font-style: normal;
  height: 180px;
  overflow-y: hidden;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.wcare .row2 {
  margin: 70px 0px;
  display: flex;
  justify-content: center;
}
.wcare .row2 .docbox {
  display: flex;
  flex-direction: column;
  background: #7161EF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  position: relative;
  width: 48%;
  height: 360px;
  padding: 115px 45px 65px 46px;
}
.wcare .row2 .docbox .circle {
  width: 138px;
  height: 138px;
  position: absolute;
  top: -70px;
  background-color: #F7F5FF;
  border-radius: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wcare .row2 .docbox .circle .figure {
  position: relative;
  width: 85px;
  height: 80px;
}
.wcare .row2 .docbox .h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  color: #FFFFFF;
}
.wcare .row2 .docbox .p {
  font-family: "Roboto Lt";
  font-style: normal;
  height: 180px;
  overflow-y: hidden;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.background {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #F7F5FF;
}

.contact {
  display: flex;
  flex-direction: column;
  background: #F7F5FF;
  margin: 0px 272px;
  justify-content: center;
  align-items: center;
}
.contact .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  margin-top: 61px;
  color: #7161EF;
  line-height: 60px;
}
.contact .p {
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}
.contact .sep {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.contact .sep .left {
  margin: 0px 57px 0px 0px;
}
.contact .sep .left .figure {
  position: relative;
  width: 575px;
  height: 597px;
  margin: 60px 0px;
}
.contact .sep .right {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 66px 0px;
}
.contact .sep .right .button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
  color: #FFFFFF;
  background-color: #7161EF;
  padding: 22px 82px;
  width: 237px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 64px;
  align-self: flex-end;
}
.contact .sep .right .form {
  display: flex;
  max-width: 700px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 80px;
  border-radius: 44px;
  background-color: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}
.contact .sep .right .form .input {
  background: #F7F5FF;
  border: 1px solid #7161EF;
  border-radius: 8px;
  padding: 22px 0px 22px 44px;
  margin-bottom: 32px;
  width: 100%;
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
}
.contact .sep .right .form .message {
  width: 100%;
  background: #F7F5FF;
  border: 1px solid #7161EF;
  border-radius: 8px;
  padding: 22px 0px 22px 44px;
  margin-bottom: 32px;
  max-width: 100%;
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
  height: 119px;
  padding: 20px 10px 20px 40px;
  word-wrap: break-word;
  word-break: break-all;
  outline: none;
  border-radius: 20px;
  font-size: 18px;
  line-height: 21.94px;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 0px 272px;
  justify-content: center;
  align-items: center;
}
.about .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  margin-top: 61px;
  color: #7161EF;
  line-height: 60px;
}
.about .p {
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #000000;
}
.about .sep {
  display: flex;
  justify-content: space-between;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.about .sep .left {
  margin: 0px 57px 0px 0px;
}
.about .sep .left .figure {
  position: relative;
  width: 434px;
  height: 556px;
  margin: 60px 0px;
}
.about .sep .right {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
  margin: 66px 0px;
}
.about .sep .right .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  margin-top: 0;
  font-size: 32px;
  line-height: 32px;
  color: #7161EF;
}
.about .sep .right .p {
  font-family: "Roboto Lt";
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.about .sep2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.about .sep2 .left {
  margin: 0px 57px 0px 0px;
}
.about .sep2 .left .figure {
  position: relative;
  width: 434px;
  height: 556px;
  margin: 60px 0px;
}
.about .sep2 .right {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
  margin: 66px 0px;
}
.about .sep2 .right .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  margin-top: 0;
  font-size: 32px;
  line-height: 32px;
  color: #7161EF;
}
.about .sep2 .right .p {
  font-family: "Roboto Lt";
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.review {
  display: flex;
  border-radius: 15px;
  border: 1px solid #B6C5D1;
  flex-direction: column;
  width: 413px;
  background-color: white;
  margin: 300px;
}
.review p {
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding: 45px 35px 24px 35px;
  color: #263238;
}
.review .textdetails {
  display: flex;
  padding: 0px 0px 45px 35px;
  align-items: center;
}
.review .textdetails figure {
  width: 90px;
  height: 90px;
  position: relative;
}
.review .textdetails .staras {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 16px;
}
.review .textdetails .staras .figure {
  width: 88px;
  height: 15px;
  position: relative;
}
.getstarted {
  display: flex;
  position: relative;
  margin: 100px 272px 200px 272px;
  align-items: center;
  width: 73%;
  justify-content: center;
}
.getstarted .figure {
  width: 1400px;
  height: 534px;
  position: relative;
}
.getstarted .transparent {
  position: absolute;
  right: 0;
  bottom: -100px;
  display: flex;
  opacity: 0.8;
  background: #FFFFFF;
  width: 86%;
  height: 270px;
  border: 2px solid #7161EF;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 24px;
}
.getstarted .transparent .left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.getstarted .transparent .left .h2 {
  margin: 0px 0px 0px 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  color: #7161EF;
}
.getstarted .transparent .right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.getstarted .transparent .right .p {
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 40px;
  color: #263238;
}
.getstarted .transparent .right .button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 12px;
  background: #7161EF;
  padding: 24px 78px;
  color: #FFFFFF;
  border-radius: 24px 0px 24px 0px;
  border: none;
  outline: none;
  align-self: end;
  position: absolute;
  /* margin: -15px -2px -5px 0px; */
  bottom: 0;
  right: -2px;
}

.footer {
  display: flex;
  border-top: 1px solid #B6C5D1;
  flex-direction: column;
}
.footer .ufooter {
  padding: 64px 0px 64px 61px;
  display: flex;
  margin: 0px 272px;
  justify-content: space-between;
  display: flex;
}
.footer .ufooter .newsletter {
  width: 33%;
  display: flex;
  flex-direction: column;
}
.footer .ufooter .newsletter .h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #7161EF;
  margin-bottom: 16px;
}
.footer .ufooter .newsletter .p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px !important;
  line-height: 28px;
  margin-bottom: 16px;
}
.footer .ufooter .newsletter .ebox {
  display: flex;
  height: 46px;
}
.footer .ufooter .newsletter .ebox .button {
  padding: 10px 52px;
  color: white;
  background: #7161EF;
  border-radius: 0px 8px 8px 0px;
  outline: 0;
  border: none;
}
.footer .ufooter .newsletter .input {
  background: #F7F5FF;
  border: 1px solid #7161EF;
  border-radius: 8px 0px 0px 8px;
  padding: 22px 0px 22px 44px;
  margin-bottom: 32px;
  width: 100%;
  font-family: "Roboto Lt";
  font-style: normal;
  font-weight: 300;
}
.footer .ufooter .list {
  list-style-type: none;
}
.footer .ufooter .list .li {
  list-style-type: none;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px !important;
  line-height: 16px;
}
.footer .ufooter .list2 {
  list-style-type: none;
}
.footer .ufooter .list2 .li {
  margin-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px !important;
  line-height: 16px;
  list-style-type: none;
}
.footer .bfooter {
  background: #263238;
  display: flex;
  justify-content: center;
  padding: 17px 0px;
  align-items: center;
  color: #FFFFFF;
}

.customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.customer h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  margin: 100px 0px 60px 0px;
  text-align: center;
  color: #7161EF;
}
.customer .high {
  height: 400px;
}

@media only screen and (max-width: 1500px) {
  .logo {
    width: 155.51px !important;
    position: relative;
    height: 37px !important;
  }
  .nav {
    width: 680px !important;
  }
  .nav ul li {
    font-size: 18px !important;
    line-height: 22px;
    padding: 3px;
  }
  .langc {
    font-size: 18px !important;
    line-height: 24px;
    display: flex;
  }
  .context {
    margin: 22px 172px 100px 172px;
  }
  .context .h2 {
    font-size: 54px;
    line-height: 60px;
  }
  .context .subtext {
    padding: 18px 0px;
    font-size: 32px;
    line-height: 46px;
  }
  .ban {
    padding: 0px 0px 40px 0px;
  }
  .platform {
    margin: 22px 172px 100px 172px;
  }
  .platform .h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .platform .subtext {
    padding: 0px 0px 22px 0px;
    font-size: 24px;
    line-height: 36px;
  }
  .platform .row {
    gap: 18px;
  }
  .platform .row .card {
    max-width: 335px;
  }
  .platform .row .card .ils {
    width: 250px;
    height: 270px;
    border-radius: 8px;
  }
  .platform .row .card .ils .figure {
    width: 165px;
    bottom: 0;
    height: 155px;
  }
  .platform .row .card .subheading {
    padding: 29px 0px 0px 0px;
    font-size: 21px;
    line-height: 36px;
    width: 220px;
  }
  .platform .row .card .description {
    font-size: 16px;
    line-height: 24px;
    width: 220px;
  }
  .itworks .h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .itworks .subtext {
    padding: 0px 0px 32px 0px;
    font-size: 24px;
    line-height: 36px;
  }
  .itworks .section {
    margin: 0px 172px;
    gap: 80px;
  }
  .itworks .section .left {
    width: 48%;
  }
  .itworks .section .left .figure {
    width: 470px;
    height: 670px;
  }
  .itworks .section .right {
    width: 48%;
    display: flex;
    margin: 100px 0px 0px 0px;
  }
  .itworks .section .right .figure {
    width: 502px;
    height: 465px;
  }
  .wcare {
    margin: 50px 172px;
  }
  .wcare .h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .wcare .subtext {
    padding: 0px 0px 32px 0px;
    font-size: 24px;
    line-height: 36px;
  }
  .wcare .row1 {
    margin: 40px 0px;
  }
  .wcare .row1 .docbox {
    width: 400px;
    height: 230px;
    padding: 60px 44px 35px 43px;
  }
  .wcare .row1 .docbox .circle {
    width: 100px;
    height: 100px;
    top: -70px;
  }
  .wcare .row1 .docbox .circle .figure {
    width: 55px;
    height: 55px;
  }
  .wcare .row1 .docbox .h4 {
    font-size: 22px;
    line-height: 38px;
  }
  .wcare .row1 .docbox .p {
    font-weight: 300;
    -webkit-line-clamp: 3;
    font-size: 18px;
    line-height: 32px;
  }
  .wcare .row2 {
    margin: 40px 0px;
  }
  .wcare .row2 .docbox {
    width: 400px;
    height: 230px;
    padding: 60px 44px 35px 43px;
  }
  .wcare .row2 .docbox .circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -70px;
  }
  .wcare .row2 .docbox .circle .figure {
    width: 55px;
    height: 55px;
  }
  .wcare .row2 .docbox .h4 {
    font-size: 22px;
    line-height: 38px;
  }
  .wcare .row2 .docbox .p {
    font-size: 18px;
    -webkit-line-clamp: 3;
    line-height: 32px;
  }
  .contact {
    margin: 0px 172px;
  }
  .contact .h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .contact .p {
    padding: 0px 0px 32px 0px;
    font-size: 24px;
    line-height: 36px;
  }
  .contact .sep {
    width: 100%;
  }
  .contact .sep .left {
    margin: 0px 57px 0px 0px;
  }
  .contact .sep .left .figure {
    width: 375px;
    height: 400px;
    margin: 60px 0px;
  }
  .contact .sep .right {
    width: 60%;
    margin: 10px 0px 30px 10px;
  }
  .contact .sep .right .button {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 40px;
    width: 132px;
    margin-bottom: 30px;
  }
  .contact .sep .right .form {
    padding: 30px 30px;
  }
  .contact .sep .right .form .input {
    padding: 22px 0px 22px 44px;
    margin-bottom: 32px;
  }
  .contact .sep .right .form .message {
    padding: 22px 0px 22px 44px;
    margin-bottom: 32px;
    font-weight: 300;
    height: 119px;
    padding: 20px 10px 20px 40px;
    font-size: 18px;
    line-height: 21.94px;
  }
  .about {
    display: flex;
    flex-direction: column;
    margin: 0px 172px;
    justify-content: center;
    align-items: center;
  }
  .about .h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    margin-top: 61px;
    color: #7161EF;
    line-height: 60px;
  }
  .about .p {
    font-family: "Roboto Lt";
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #000000;
  }
  .about .sep {
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about .sep .left {
    margin: 0px 57px 0px 0px;
  }
  .about .sep .left .figure {
    position: relative;
    width: 434px;
    height: 556px;
    margin: 60px 0px;
  }
  .about .sep .right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    margin: 66px 0px;
  }
  .about .sep .right .h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-top: 0;
    font-size: 32px;
    line-height: 32px;
    color: #7161EF;
  }
  .about .sep .right .p {
    font-family: "Roboto Lt";
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
  }
  .about .sep2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about .sep2 .left {
    margin: 0px 57px 0px 0px;
  }
  .about .sep2 .left .figure {
    position: relative;
    width: 434px;
    height: 556px;
    margin: 60px 0px;
  }
  .about .sep2 .right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    margin: 66px 0px;
  }
  .about .sep2 .right .h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-top: 0;
    font-size: 32px;
    line-height: 32px;
    color: #7161EF;
  }
  .about .sep2 .right .p {
    font-family: "Roboto Lt";
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
  }
  .getstarted {
    margin: 20px 172px 115px 172px;
  }
  .getstarted .figure {
    width: 100%;
  }
  .getstarted .transparent {
    bottom: -50px;
    width: 75%;
    height: 221px;
  }
  .getstarted .transparent .left {
    width: 40%;
  }
  .getstarted .transparent .left .h2 {
    margin: 0px 0px 0px 25px;
    font-size: 24px;
    line-height: 30px;
  }
  .getstarted .transparent .right {
    width: 60%;
  }
  .getstarted .transparent .right .p {
    font-size: 21px;
    line-height: 28px;
  }
  .getstarted .transparent .right .button {
    font-size: 14px;
    line-height: 12px;
    padding: 20px 50px;
    bottom: 0;
    right: -2px;
  }
  .footer .ufooter {
    padding: 64px 0px 64px 61px;
    margin: 0px 172px;
  }
  .footer .ufooter .newsletter {
    width: 33%;
  }
  .footer .ufooter .newsletter .h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .footer .ufooter .newsletter .p {
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  .footer .ufooter .newsletter .ebox {
    height: 46px;
  }
  .footer .ufooter .newsletter .ebox .button {
    padding: 10px 52px;
    border-radius: 0px 8px 8px 0px;
  }
  .footer .ufooter .newsletter .input {
    padding: 22px 0px 22px 44px;
    margin-bottom: 32px;
  }
  .footer .ufooter .list {
    list-style-type: none;
  }
  .footer .ufooter .list .li {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 16px;
  }
  .footer .ufooter .list2 {
    list-style-type: none;
  }
  .footer .ufooter .list2 .li {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 16px;
  }
  .footer .bfooter {
    padding: 17px 0px;
  }
}
@media only screen and (max-width: 1100px) {
  .logo {
    width: 155.51px !important;
    position: relative;
    height: 37px !important;
  }
  .nav {
    width: 500px !important;
  }
  .nav ul {
    display: flex;
    gap: 30px !important;
  }
  .nav ul li {
    font-size: 14px !important;
    line-height: 22px;
    padding: 3px;
  }
  .langc {
    font-size: 18px !important;
    line-height: 24px;
  }
  .context {
    margin: 22px 30px 100px 30px;
  }
  .context .h2 {
    font-size: 54px;
    line-height: 60px;
  }
  .context .subtext {
    padding: 18px 0px;
    font-size: 32px;
    line-height: 46px;
  }
  .ban {
    padding: 0px 0px 40px 0px;
  }
  .platform {
    margin: 22px 30px 100px 30px;
  }
  .platform .h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .platform .subtext {
    padding: 0px 0px 22px 0px;
    font-size: 24px;
    line-height: 36px;
  }
  .platform .row {
    gap: 18px;
  }
  .platform .row .card {
    max-width: 335px;
  }
  .platform .row .card .ils {
    width: 250px;
    height: 270px;
    border-radius: 8px;
  }
  .platform .row .card .ils .figure {
    width: 165px;
    bottom: 0;
    height: 155px;
  }
  .platform .row .card .subheading {
    padding: 29px 0px 0px 0px;
    font-size: 21px;
    line-height: 36px;
    width: 220px;
  }
  .platform .row .card .description {
    font-size: 16px;
    line-height: 24px;
    width: 220px;
  }
  .itworks .h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .itworks .subtext {
    padding: 0px 0px 32px 0px;
    font-size: 24px;
    line-height: 36px;
  }
  .itworks .section {
    margin: 0px 30px;
    gap: 80px;
  }
  .itworks .section .left {
    width: 48%;
  }
  .itworks .section .left .figure {
    width: 470px;
    height: 670px;
  }
  .itworks .section .right {
    width: 48%;
    display: flex;
    margin: 100px 0px 0px 0px;
  }
  .itworks .section .right .figure {
    width: 502px;
    height: 465px;
  }
  .wcare {
    margin: 50px 30px !important;
  }
  .wcare .h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .wcare .subtext {
    padding: 0px 0px 32px 0px;
    font-size: 24px;
    line-height: 36px;
  }
  .wcare .row1 {
    margin: 40px 0px;
  }
  .wcare .row1 .docbox {
    width: 400px;
    height: 230px;
    padding: 60px 44px 38px 43px;
  }
  .wcare .row1 .docbox .circle {
    width: 100px;
    height: 100px;
    top: -70px;
  }
  .wcare .row1 .docbox .circle .figure {
    width: 55px;
    height: 55px;
  }
  .wcare .row1 .docbox .h4 {
    font-size: 22px;
    line-height: 38px;
  }
  .wcare .row1 .docbox .p {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
  }
  .wcare .row2 {
    margin: 40px 0px;
  }
  .wcare .row2 .docbox {
    width: 400px;
    height: 230px;
    padding: 60px 44px 38px 43px;
  }
  .wcare .row2 .docbox .circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -70px;
  }
  .wcare .row2 .docbox .circle .figure {
    width: 55px;
    height: 55px;
  }
  .wcare .row2 .docbox .h4 {
    font-size: 22px;
    line-height: 38px;
  }
  .wcare .row2 .docbox .p {
    font-size: 18px;
    line-height: 32px;
  }
  .about {
    display: flex;
    flex-direction: column;
    margin: 0px 72px;
    justify-content: center;
    align-items: center;
  }
  .about .h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    margin-top: 61px;
    color: #7161EF;
    line-height: 60px;
  }
  .about .p {
    font-family: "Roboto Lt";
    font-style: normal;
    font-weight: 300;
    width: 100%;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: #000000;
  }
  .about .sep {
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about .sep .left {
    margin: 0px 57px 0px 0px;
  }
  .about .sep .left .figure {
    position: relative;
    width: 434px;
    height: 556px;
    margin: 60px 0px;
  }
  .about .sep .right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    margin: 66px 0px;
  }
  .about .sep .right .h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-top: 0;
    font-size: 32px;
    line-height: 32px;
    color: #7161EF;
  }
  .about .sep .right .p {
    font-family: "Roboto Lt";
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
  }
  .about .sep2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about .sep2 .left {
    margin: 0px 57px 0px 0px;
  }
  .about .sep2 .left .figure {
    position: relative;
    width: 434px;
    height: 556px;
    margin: 60px 0px;
  }
  .about .sep2 .right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    margin: 66px 0px;
  }
  .about .sep2 .right .h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    margin-top: 0;
    font-size: 32px;
    line-height: 32px;
    color: #7161EF;
  }
  .about .sep2 .right .p {
    font-family: "Roboto Lt";
    text-align: left;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
  }
  .contact {
    margin: 0px 30px;
  }
  .contact .h2 {
    font-size: 32px;
    line-height: 50px;
  }
  .contact .p {
    padding: 0px 0px 32px 0px;
    font-size: 24px;
    line-height: 36px;
  }
  .contact .sep {
    width: 100%;
  }
  .contact .sep .left {
    margin: 0px 57px 0px 0px;
  }
  .contact .sep .left .figure {
    width: 375px;
    height: 400px;
    margin: 60px 0px;
  }
  .contact .sep .right {
    width: 60%;
    margin: 10px 0px 30px 10px;
  }
  .contact .sep .right .button {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 40px;
    width: 132px;
    margin-bottom: 30px;
  }
  .contact .sep .right .form {
    padding: 30px 30px;
  }
  .contact .sep .right .form .input {
    padding: 22px 0px 22px 44px;
    margin-bottom: 32px;
  }
  .contact .sep .right .form .message {
    padding: 22px 0px 22px 44px;
    margin-bottom: 32px;
    font-weight: 300;
    height: 119px;
    padding: 20px 10px 20px 40px;
    font-size: 18px;
    line-height: 21.94px;
  }
  .getstarted {
    margin: 20px 30px 115px 30px;
    width: 90%;
  }
  .getstarted .figure {
    width: 100%;
  }
  .getstarted .transparent {
    bottom: -50px;
    width: 75%;
    height: 221px;
  }
  .getstarted .transparent .left {
    width: 40%;
  }
  .getstarted .transparent .left .h2 {
    margin: 0px 0px 0px 25px;
    font-size: 24px;
    line-height: 30px;
  }
  .getstarted .transparent .right {
    width: 60%;
  }
  .getstarted .transparent .right .p {
    font-size: 21px;
    line-height: 28px;
  }
  .getstarted .transparent .right .button {
    font-size: 18px;
    line-height: 12px;
    padding: 24px 78px;
    bottom: 0;
    right: -2px;
  }
  .footer .ufooter {
    padding: 64px 0px 64px 61px;
    margin: 0px 30px;
  }
  .footer .ufooter .newsletter {
    width: 33%;
  }
  .footer .ufooter .newsletter .h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .footer .ufooter .newsletter .p {
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  .footer .ufooter .newsletter .ebox {
    height: 46px;
  }
  .footer .ufooter .newsletter .ebox .button {
    padding: 10px 52px;
    border-radius: 0px 8px 8px 0px;
  }
  .footer .ufooter .newsletter .input {
    padding: 22px 0px 22px 44px;
    margin-bottom: 32px;
  }
  .footer .ufooter .list {
    list-style-type: none;
  }
  .footer .ufooter .list .li {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 16px;
  }
  .footer .ufooter .list2 {
    list-style-type: none;
  }
  .footer .ufooter .list2 .li {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 16px;
  }
  .footer .bfooter {
    padding: 17px 0px;
  }
}
@media only screen and (max-width: 450px) {
  .header {
    margin: 40px 39px !important;
  }
  .ham {
    color: #7161EF;
    display: block;
  }
  .logo {
    width: 69px !important;
    position: relative;
    height: 20px !important;
  }
  .customer h2 {
    font-size: 16px;
    margin: 50px 0px 20px 0px;
    line-height: 25px;
  }
  .high {
    height: 290px !important;
  }
  .review {
    display: flex;
    border-radius: 15px;
    border: 1px solid #B6C5D1;
    flex-direction: column;
    width: 413px;
    background-color: white;
    margin: 300px;
  }
  .review p {
    font-family: "Roboto Lt";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 25px 25px 24px 25px;
    color: #263238;
  }
  .review .textdetails {
    display: flex;
    padding: 0px 0px 45px 35px;
  }
  .review .textdetails figure {
    width: 90px;
    height: 90px;
    position: relative;
  }
  .review .textdetails .staras {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 16px;
  }
  .review .textdetails .staras .figure {
    width: 88px;
    height: 15px;
    position: relative;
  }
  .nav {
    display: none !important;
    width: 615px !important;
  }
  .nav ul li {
    font-size: 18px !important;
    line-height: 22px;
    padding: 3px;
  }
  .langc {
    display: none !important;
    font-size: 18px !important;
    line-height: 24px;
  }
  .context {
    margin: 22px 30px 20px 30px;
  }
  .context .h2 {
    font-size: 16px;
    line-height: 25px;
    width: 220px;
  }
  .context .subtext {
    padding: 18px 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 250px;
  }
  .context .links .figure {
    width: 125px;
    height: 82px;
    position: relative;
  }
  .ban {
    padding: 0px 0px 10px 0px;
  }
  .ban .banner {
    height: 233px;
  }
  .platform {
    margin: 22px 30px 20px 30px;
  }
  .platform .h2 {
    font-size: 16px;
    line-height: 25px;
  }
  .platform .subtext {
    padding: 0px 0px 22px 0px;
    font-size: 14px;
    line-height: 20px;
    width: 250px;
  }
  .platform .row {
    flex-wrap: wrap;
    gap: 18px;
    justify-content: space-between;
  }
  .platform .row .card {
    max-width: 335px;
  }
  .platform .row .card .ils {
    width: 134px;
    height: 130px;
    border-radius: 8px;
  }
  .platform .row .card .ils .figure {
    width: 105px;
    bottom: 0;
    height: 103px;
  }
  .platform .row .card .subheading {
    padding: 9px 0px 0px 0px;
    font-size: 12px;
    line-height: 18px;
    width: 130px;
  }
  .platform .row .card .description {
    font-size: 10px;
    line-height: 14px;
    width: 131px;
    height: 40px;
    white-space: break-spaces;
    overflow-y: clip;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
    word-wrap: break-word;
    word-break: break-all;
    outline: none;
  }
  .about {
    display: flex;
    flex-direction: column;
    margin: 0px 12px;
    justify-content: center;
    align-items: center;
  }
  .about .h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-top: 21px;
    color: #7161EF;
    line-height: 60px;
  }
  .about .p {
    font-family: "Roboto Lt";
    font-style: normal;
    display: none;
    font-weight: 300;
    width: 100%;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: #000000;
  }
  .about .sep {
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about .sep .left {
    margin: 0px 7px 0px 0px;
  }
  .about .sep .left .figure {
    position: relative;
    width: 161px;
    height: 206px;
    margin: 60px 0px;
  }
  .about .sep .right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: flex-start;
    margin: 6px 0px;
  }
  .about .sep .right .h2 {
    font-family: "Poppins";
    font-style: normal;
    padding: 0;
    font-weight: 600;
    margin-top: 0;
    font-size: 12px;
    line-height: 22px;
    color: #7161EF;
  }
  .about .sep .right .p {
    font-family: "Roboto Lt";
    text-align: left;
    font-style: normal;
    font-weight: 300;
    display: block;
    font-size: 10px;
    line-height: 18px;
    color: #000000;
  }
  .about .sep2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about .sep2 .left {
    margin: 0px 7px 0px 0px;
  }
  .about .sep2 .left .figure {
    position: relative;
    width: 161px;
    height: 206px;
    margin: 60px 0px;
  }
  .about .sep2 .right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: flex-start;
    margin: 6px 0px;
  }
  .about .sep2 .right .h2 {
    font-family: "Poppins";
    font-style: normal;
    padding: 0;
    font-weight: 600;
    margin-top: 0;
    font-size: 12px;
    line-height: 22px;
    color: #7161EF;
  }
  .about .sep2 .right .p {
    font-family: "Roboto Lt";
    text-align: left;
    font-style: normal;
    font-weight: 300;
    display: block;
    font-size: 10px;
    line-height: 18px;
    color: #000000;
  }
  .itworks .h2 {
    font-size: 16px;
    line-height: 25px;
  }
  .itworks .subtext {
    padding: 0px 0px 12px 0px;
    font-size: 14px;
    line-height: 20px;
    width: 92%;
  }
  .itworks .section {
    width: 100%;
    margin: 0px;
    gap: 20px;
    flex-direction: column;
  }
  .itworks .section .left {
    width: 100%;
  }
  .itworks .section .left .figure {
    width: 100%;
    height: 370px;
  }
  .itworks .section .right {
    width: 100%;
    display: flex;
    margin: 10px 0px 0px 0px;
  }
  .itworks .section .right .figure {
    width: 100%;
    height: 250px;
  }
  .wcare {
    margin: 20px 30px !important;
  }
  .wcare .h2 {
    font-size: 16px;
    line-height: 25px;
  }
  .wcare .subtext {
    padding: 0px 0px 32px 0px;
    font-size: 14px;
    line-height: 20px;
  }
  .wcare .row1 {
    margin: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .wcare .row1 .docbox {
    width: 250px;
    height: 110px;
    padding: 30px 24px 28px 23px;
  }
  .wcare .row1 .docbox .circle {
    width: 40px;
    height: 40px;
    top: -20px;
  }
  .wcare .row1 .docbox .circle .figure {
    width: 20px;
    height: 20px;
  }
  .wcare .row1 .docbox .h4 {
    font-size: 16px;
    line-height: 25px;
  }
  .wcare .row1 .docbox .p {
    font-weight: 300;
    overflow-y: hidden;
    height: 30px;
    font-size: 10px;
    -webkit-line-clamp: 2;
    line-height: 14px;
  }
  .wcare .row2 {
    margin: 20px 0px;
    justify-content: center;
    width: 100%;
  }
  .wcare .row2 .docbox {
    width: 250px;
    height: 110px;
    padding: 30px 24px 28px 23px;
  }
  .wcare .row2 .docbox .circle {
    width: 40px;
    height: 40px;
    top: -20px;
  }
  .wcare .row2 .docbox .circle .figure {
    width: 20px;
    height: 20px;
  }
  .wcare .row2 .docbox .h4 {
    white-space: nowrap;
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 25px;
  }
  .wcare .row2 .docbox .p {
    font-weight: 300;
    -webkit-line-clamp: 2;
    overflow-y: hidden;
    height: 30px;
    font-size: 10px;
    line-height: 14px;
  }
  .contact {
    margin: 0px 30px;
  }
  .contact .h2 {
    font-size: 16px;
    line-height: 25px;
  }
  .contact .p {
    padding: 0px 0px 32px 0px;
    font-size: 14px;
    line-height: 20px;
  }
  .contact .sep {
    width: 100%;
    flex-direction: column;
  }
  .contact .sep .left {
    display: none;
    margin: 0px 17px 0px 0px;
  }
  .contact .sep .left .figure {
    width: 300px;
    height: 400px;
    margin: 60px 0px;
  }
  .contact .sep .right {
    width: 100%;
    margin: 10px 0px 30px 10px;
  }
  .contact .sep .right .button {
    font-size: 12px;
    line-height: 28px;
    padding: 4px 24px;
    width: 87px;
    margin: 10px 0px 10px 10px;
  }
  .contact .sep .right .form {
    padding: 30px 30px;
  }
  .contact .sep .right .form .input {
    padding: 22px 0px 22px 44px;
    margin-bottom: 32px;
    font-size: 12px !important;
  }
  .contact .sep .right .form .message {
    padding: 22px 0px 22px 44px;
    margin-bottom: 2px;
    font-weight: 300;
    height: 119px;
    padding: 20px 10px 20px 40px;
    font-size: 12px;
    line-height: 21.94px;
  }
  .getstarted {
    margin: 20px 30px 65px 30px;
    width: 90%;
  }
  .getstarted .figure {
    width: 100%;
    height: 140px;
  }
  .getstarted .transparent {
    bottom: -50px;
    width: 75%;
    height: 100px;
  }
  .getstarted .transparent .left {
    align-items: flex-start;
    width: 98%;
  }
  .getstarted .transparent .left .h2 {
    margin: 10px 0px 10px 25px;
    font-size: 14px;
    line-height: 18px;
  }
  .getstarted .transparent .right {
    width: 0%;
  }
  .getstarted .transparent .right .p {
    display: none;
    font-size: 21px;
    line-height: 28px;
  }
  .getstarted .transparent .right .button {
    font-size: 12px;
    line-height: 18px;
    padding: 10px 28px;
    bottom: 0;
    right: -2px;
  }
  .footer .ufooter {
    padding: 24px 0px 24px 21px;
    margin: 0px 20px;
  }
  .footer .ufooter .newsletter {
    width: 33%;
  }
  .footer .ufooter .newsletter .h4 {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 6px;
  }
  .footer .ufooter .newsletter .p {
    font-size: 10px !important;
    line-height: 16px;
    margin-bottom: 6px;
  }
  .footer .ufooter .newsletter .ebox {
    height: 26px;
  }
  .footer .ufooter .newsletter .ebox .button {
    padding: 10px 22px;
    font-size: 8px;
    line-height: 18px;
    border-radius: 0px 8px 8px 0px;
    padding: 3px 26px 9px 26px;
  }
  .footer .ufooter .newsletter .input {
    font-size: 10px;
    padding: 12px 0px 12px 6px;
    margin-bottom: 32px;
    width: 100px;
  }
  .footer .ufooter .list {
    list-style-type: none;
  }
  .footer .ufooter .list .li {
    margin-bottom: 6px;
    font-size: 10px !important;
    line-height: 16px;
  }
  .footer .ufooter .list2 {
    list-style-type: none;
  }
  .footer .ufooter .list2 .li {
    margin-bottom: 6px;
    font-size: 10px !important;
    line-height: 16px;
  }
  .footer .bfooter {
    padding: 17px 0px;
    font-weight: 300;
    font-size: 10px !important;
    line-height: 12px;
  }
  .mobilenav {
    display: flex;
    position: fixed;
    width: 100%;
    background: white;
    height: 100%;
    top: 0;
    z-index: 11111111111111;
    color: white;
  }
  .mobilenav .mobileback {
    height: 100%;
    width: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7161EF;
    opacity: 0.5;
  }
  .mobilenav .mobileback div {
    margin: 10px 0px 0px 99px;
    background-color: white;
    padding: 15px;
    font-size: 23px;
    border-radius: 50px;
    color: #7161EF;
  }
  .mobilenav .mobileback div figure {
    width: 35px;
    height: 35px;
    position: relative;
  }
  .mobilenav .mobilebar {
    display: flex;
    width: calc(100% - 42px);
    flex-direction: column;
  }
  .mobilenav .mobilebar figure {
    position: relative;
    margin: 21px 0px 21px 46px;
  }
  .mobilenav .mobilebar .uppernav {
    padding: 33px 0px 0px 46px;
    border-top: 0.5px solid #000;
    list-style-type: none;
  }
  .mobilenav .mobilebar .uppernav li a .button {
    outline: none;
    font-family: "Roboto Lt";
    font-style: normal;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    right: 50px;
    top: 25px;
    line-height: 19px;
    padding: 6px 20px 8px 7px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    background-color: #7161EF;
  }
  .mobilenav .mobilebar .uppernav li a .button .figure {
    width: 17px;
    height: 19px;
    position: relative;
    margin: 0px 10px 0px 0px;
  }
  .mobilenav .mobilebar .uppernav li {
    padding-bottom: 16px;
  }
  .header {
    width: calc(100% - 80px);
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .hlogo {
    position: relative;
    width: 74px !important;
    height: 41px !important;
  }
  .header li {
    list-style-type: none;
    font-size: 14px;
    color: #000000;
  }
  .header ul {
    display: block;
  }
  .navbar {
    position: relative;
    display: block;
    width: 20px;
    height: 14px;
  }
}
@media only screen and (max-width: 370px) {
  .platform {
    margin: 22px 30px 20px 30px;
  }
  .platform .h2 {
    font-size: 16px;
    line-height: 25px;
  }
  .platform .subtext {
    padding: 0px 0px 22px 0px;
    font-size: 14px;
    line-height: 20px;
    width: 250px;
  }
  .platform .row {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
  }
  .platform .row .card {
    max-width: 335px;
  }
  .platform .row .card .ils {
    width: 134px;
    height: 130px;
    border-radius: 8px;
  }
  .platform .row .card .ils .figure {
    width: 105px;
    bottom: 0;
    height: 103px;
  }
  .platform .row .card .subheading {
    padding: 9px 0px 0px 0px;
    font-size: 12px;
    line-height: 18px;
    width: 130px;
  }
  .platform .row .card .description {
    font-size: 10px;
    line-height: 14px;
    width: 130px;
  }
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1111;
  top: 40%;
  height: 225px;
  right: 0;
  width: 73px;
  background-color: #7161EF;
}
.social .close {
  position: absolute;
  right: 2px;
  top: 2px;
  color: white;
  z-index: 111;
}
.social .stext {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 12px;
  color: #FFFFFF;
}
.social .aligns {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.social .sbox {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  font-size: 24px;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.social p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
}

.socials {
  display: none;
}

@media only screen and (max-width: 450px) {
  .social {
    display: none;
  }
  .socials {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    height: 110px;
    right: 40px;
    width: 20px;
  }
  .socials .aligns {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .socials .sbox {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    font-size: 12px;
    color: white;
    padding: 5px;
    border-radius: 111px;
    background-color: #7161EF;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .socials p {
    display: none;
  }
}
@font-face {
  font-family: "Roboto Cn";
  src: url("../fonts/Roboto-Condensed.woff2") format("woff2"), url("../fonts/Roboto-Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Cn";
  src: url("../fonts/Roboto-BoldCondensedItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldCondensedItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bk";
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bk";
  src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Cn";
  src: url("../fonts/Roboto-BoldCondensed.woff2") format("woff2"), url("../fonts/Roboto-BoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Lt";
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Cn";
  src: url("../fonts/Roboto-CondensedItalic.woff2") format("woff2"), url("../fonts/Roboto-CondensedItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Lt";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Lt";
  src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Th";
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Lt";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Th";
  src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}/*# sourceMappingURL=Home.module.css.map */